class_name: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: http://yii.local/
            browser: chrome
        - Yii2:
            part: orm
            entryScript: index-test.php
            cleanup: false
