/*este es el estilo del body*/
.iniciocs{
  background-image: url(../image/background-blur-6.png);
    background-size: cover; 
    -ms-background-size: cover; 
    -o-background-size: cover;
    -moz-background-size: cover; 
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h3{
  font-size: 3.6vh;
  margin-bottom: 9px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}



/* estas cosas no se que son */

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal-title{
  color: #000;
}

#dynamicmodel-fecha_inicio {
  width: -webkit-fill-available;
}

.modal-body{
  margin-top: -20px;
}

.modal-cuerpo{
  margin-top: 10px;
  text-align: center;
}

.modal-footer{
  text-align: center;
}

/**/

/* esto se usa en algunas tablas */
.loginc
{
  margin-top:20px;
  background-color: #ecf0f1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}
.loginc label{
  color:white;
}

/*esto es de notificaciones*/
.media-body{
  position: relative;
  left: 90px;
  bottom: 80px;
}
.admin{
  border-radius: 250px;
}

.enviado{
  padding-top: 20px;
  width: 100%;
}

.float-right{
  text-align: right;
}
.notificacion-create{
  color: white;
}

/*esto es el texto de arriba de notificaciones*/
.media-body >h4{
  color:white;
  text-transform: capitalize;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  text-align: left;
  width: 400px;
}
.recibidos{
  border: 1px solid white;
}

/*Estilo del placeholder*/

::-webkit-input-placeholder { /* Chrome */
  opacity: 0.2;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.2;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.2 !important;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 0.2;
  font-style: italic;
}


/*Estilo de scroll solo funciona en crome*/

/* width */
.tabcontent::-webkit-scrollbar {
  width: 10px;

}

/* Track */
.tabcontent::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
.tabcontent::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.tabcontent::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*panel de log*/
.log {
  background-color: rgb(41, 128, 185);
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  width: 90%;
  float: center;
  margin: auto; 
  margin-top: 20px;
  
  text-align: center;
}


.log>p{
  color: white;
}
.log>h1{
  color: white;
  border-bottom: 1px solid white;
}

/*panel azul generico*/

.azul{
  background-color: #2980b9;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  margin: auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.azul label{
  color: white;
  float: left;
  
}
.azul h1{
  color:white; 
  border-bottom: 1px solid white;
}
.azul p{
  color:white;
  font-weight: bold;
}


/* pantalla de error*/

.error{
  text-align: center;
  color: white;
}

/* estilo de sedes */
.sede{
  background-color: #1475b9;
}

.sede p{
  color:#2980b9;
  text-transform:uppercase;
  font-weight: bold;
}
.sede h4{
  border:0 solid #2980b9; 
  border-bottom-width:1px;
  padding-bottom:10px;
  color:  #2980b9;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.thumbnail{
  background-color: white;
  border: 1px solid #2980b9;
  padding: 0px !important;
}

/* titulo que se usa habitualmente*/

.titulo{
  font-weight: bold; 
  color:white; 
  /*text-decoration: underline;*/
  text-shadow: 2px 2px grey;
  text-align: center;
}


/* gridView, esto es el estilo de paneles de admin */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

.grid{
  background-color: white;
  border: 2px solid #2980b9;
  color:#2980b9 !important;
  text-transform: uppercase;
  font-weight: bold;

}
.grid a{
  color: white;
}
.grid td a{
  color:#2980b9;
}
.grid td{
  border: 2px solid grey !important;
}
.grid th{
  border: 2px solid grey !important;
  background-color: #2980b9;
  color: white;
}

/*.grid tr:nth-child(odd){
  background-color: #4C8BF5;
  color: #fff;
}
.grid tr:nth-child(even){
  background-color: #4C8BF5;
  color: #fff;
}
*/

/*iconos de administracion*/
.well{
  margin-top: 20px;
  width:100%;
  text-align: center;
  border:0px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  box-shadow: 10px 10px 5px #49657e;
}

.weell{
  margin-top: 0px;
  width:100%;
  text-align: center;
  border:0px;
  border-radius: 10px;
}


.button1 {
  float: left;
  margin-top: 18px;
}

/* esto es para observaciones*/
.miPanel{
  padding-top:15px;
  padding-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  /*background-color: white;
  color: #1475b9;*/
}

.testing{
  margin-top:-10px;
}





/* Esto es para que no se deforme el navbar al achicarlo*/
@media screen and (max-width: 1106px) {
  .navbar-brand img{
    display: none;
  }
  .navbar-right a{
    font-size: 13px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .navbar-default a{
    font-size: 13px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media screen and (max-width: 850px) {
  .navbar-right a{
    font-size: 13px;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .navbar-default a{
    font-size: 13px;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

/* estilo de pop up*/

.log-modal-content
{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background-color: rgb(41, 128, 185);
    padding-bottom:20px;
}

.log-modal-content p{
    color:white;
}

.log-modal-header
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    background-color: rgb(41, 128, 185);
    padding-bottom:0px;
}

.modal-log{
        width:500px;
    }

/* fix en culular*/
@media (max-width: 768px) {
  .modal-log{
    width:auto;
}

  }

/* esto afecta a sedes y a edificios*/

.box{
  position: relative;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
 .box .imgBox{
  position: relative;
}
 .box .imgBox img{
  max-width: 100%;
  transition: transform 2s;
}
 .box:hover .imgBox img{
  transform: scale(1.2);
}
.box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0.8);
  transform: scaleY(0);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .box:hover .details{
  transform: scaleY(1);
}
 .box .details .content{
  text-align: center;
  padding: 15px;
  color: #fff;
}


