.iniciocs{
  background-image: url(../image/index_background_desenfoque.jpg);
 
    background-size: cover; 
    -ms-background-size: cover; 
    -o-background-size: cover;
    -moz-background-size: cover; 
    -webkit-background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

}

.jumbotron
{
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: #2f3640;

  /* background: -webkit-linear-gradient(rgb(41, 128, 185),rgb(52, 152, 219));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
 
    
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px;
letter-spacing: 2.8px;
word-spacing: 5.8px;
color: rgb(255, 255, 255);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase; */

}
.jumbutron #textoBienvenida{
  color: red;
}
.wrap
{
  width: 100%;
  height: 100%;
}

* {box-sizing: border-box}


/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: relative;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.img-responsive
{
  background-image: url(../image/unaj1.png);  
  
}


.gallery{
  margin: 10px 50px;
}

.gallery img{
  width: 340px;
  height: 240px;

  transition: 0.5s;

  -webkit-border-radius: 15px;
  border-radius: 15px;
  
}


.gallery img:hover{
  transform: scale(1.2);
}




h4 { 
  border:0 solid #fff; 
  border-bottom-width:1px;
  padding-bottom:10px;
  text-align: center;
  color: white;
 }


.form-login {
  background-color: rgb(41, 128, 185);
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;

  -webkit-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
}




table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}




.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}


.regis
{
  background-color: #ecf0f1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;

}


.loginc
{
  background-color: #ecf0f1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #A63322;
  border-color: #A63322;
}


.maininsti
 {
  width: 100%;
  height: 100%;
 }


.imgsede1
{
  height: 500px;
  width: 500px;
}

.imgsede2
{
  height: 500px;
  width: 500px;
}

.imgsede3
{
  height: 500px;
  width: 500px;
}
/*no se como cambiarle el color a las letras de de <H1> de la vista user y admin */


.jumbotron2
{
  background: -webkit-linear-gradient(rgb(41, 128, 185),rgb(52, 152, 219));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
    
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px;
letter-spacing: 2.8px;
word-spacing: 5.8px;
color: rgb(236, 17, 10);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;

}


.navbarsize
{
    margin-top:-20px;
}