html,
body {
    height: 100% !important;
    overflow-x:hidden;
    
}

* {
  margin: 0px;
  padding: 0px;
}


.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 0px;
}


.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


footer {
  position: relative;
  width: 100%;
  background-color: #1475b9;
  color: white;
  text-align: center;
  clear: both;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
}
footer p {
  margin: 0px 0 2px;

} 


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-default {
    background-color: #1475b9;
    border-color: #1c2331;
    margin-bottom: 0px;
  }
  .navbar-default .btn-link {
    color: #ecf0f1;
}
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  
  .navbar-default .navbar-nav > li > a 
  {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color:  #1a5276;
  }  
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus  {
    color: #ecf0f1;
    background-color: #1a5276;
  }
  .navbar-default .navbar-toggle {
    border-color: #1c2331;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #1c2331;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ecf0f1;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ecf0f1;
      background-color: #1c2331;
    }
  }


  /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #47748b;
    
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #2980b9;
  color: white;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #2980b9;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: white;
  padding: 10px;
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #2980b9;;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color:white;
  text-align:center;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #7386D5;;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}



ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #7386D5;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}

.kv-sidenav{
  height:1000px;
}

@media screen and (max-width: 998px) {
  .kv-sidenav {
    height: auto;
  }
}

/* logo de la unaj*/
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  float: top;
  height: 130%;
  padding: 15px; /* firefox bug fix */
  width: auto;
  position: relative;
  bottom: 10px;
}

/* carousle de inicio*/

.carousel-inner > .item > img {
  margin: 0 auto;
}

/* para que quede bien la imagen de perfil*/

.imagenPerfil{
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position:relative;
  bottom: 3px;
  
}

/* esto es para el icono de nueva noti */

.badge {
  position: absolute;
  top: 10%;
  right: 8%;
  border-radius: 50%;
  background: red;
  color: white;
}

@media (max-width: 767px) {
  .badge {
    position: static;
    margin-bottom: 3px;
    border-radius: 50%;
    background: red;
    color: white;
  }  
}


